In [1]:
import pandas as pd

In [2]:
fd = pd.read_csv("AB_NYC_2019.csv")

fd.head()

## 1.Deleting Columns
## 2.Deleting Rows
## 3.Filling NaN using imputation
### 3.1 numeric data
### 3.2 categorical data
## 4. advanced Imputation

## 1 column deleting

In [4]:
fd1 = fd.copy()

In [5]:
fd1.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [6]:
fd1.drop("host_name",axis =1,inplace = True)

In [7]:
fd1.isna().sum()

id                                    0
name                                 16
host_id                               0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

# 2 rows deleting

In [11]:
fd2= fd.copy()

In [15]:
fd2.dropna(inplace = True)

In [16]:
fd2.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

## 3.1 Numeric data

In [23]:
fd3= fd.copy()

In [26]:
fd3.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355

In [18]:
fd3.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [30]:
from sklearn.impute import SimpleImputer
import numpy as np

In [31]:
imputer = SimpleImputer(missing_values = np.nan,strategy = "mean")

In [35]:
fd3.loc[:,"reviews_per_month":"reviews_per_month"] = imputer.fit_transform(fd3.loc[:,"reviews_per_month":"reviews_per_month"])

In [36]:
fd3.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

## 3.2 categorical

In [37]:
fd4 = fd.copy()

In [43]:
fd4.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
36113,28699654,"Home For Medical Professionals - ""The Kinetic""",26377263,Stat,Brooklyn,East Flatbush,40.65429,-73.93601,Private room,57,30,0,NaN,NaN,43,306
33913,26865113,Cozy 2BR apt in center of Brooklyn (Female Ple...,7342104,Audrey,Brooklyn,Gowanus,40.68071,-73.98201,Private room,66,3,3,13-11-2018,0.33,1,0
14436,11324565,Private Room. Twin Bed. Great Stay!,59070885,Eric Charles,Manhattan,Upper East Side,40.76658,-73.95224,Private room,39,1,5,16-04-2016,0.12,1,0
25952,20726517,Penthouse - 2 Floors with Private Outdoor Patio,21531418,Christopher,Brooklyn,Williamsburg,40.70929,-73.95381,Entire home/apt,195,2,9,17-02-2019,0.44,1,0
17213,13623700,Spacious and Quiet Gramercy 1 Bedroom,21656569,Alana,Manhattan,Gramercy,40.73577,-73.98057,Entire home/apt,275,5,0,NaN,NaN,1,0
44340,34181682,Sonder | The Biltmore | Chic 1BR + City View,219517861,Sonder (NYC),Manhattan,Theater District,40.76152,-73.98587,Entire home/apt,157,29,0,NaN,NaN,327,340
13563,10143705,Studio Apartment,31698014,Janine,Manhattan,East Village,40.72747,-73.98833,Entire home/apt,60,5,2,17-01-2016,0.05,1,0
38286,30178785,Beautiful cozy studio,186701037,Gabriela,Brooklyn,Dyker Heights,40.62877,-74.00918,Entire home/apt,75,1,0,NaN,NaN,2,0
35909,28519821,"Cute Clean & Quaint , 40 minutes away from. City",214184351,Bladimil,Brooklyn,Bushwick,40.69855,-73.91394,Private room,63,3,2,01-03-2019,0.31,1,365
6310,4611295,Upper East Side Manhattan #2,626876,Kimberly,Manhattan,Upper East Side,40.77941,-73.94862,Private room,250,1,0,NaN,NaN,3,0

In [39]:
fd4.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [41]:
imputer = SimpleImputer(missing_values = np.nan,strategy = "most_frequent")
fd4.loc[:,"host_name":"host_name"] = imputer.fit_transform(fd4.loc[:,"host_name":"host_name"])

In [44]:
fd4.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

## 4 .advanced imputation

In [45]:
fd5 = fd.copy()

In [46]:
fd5["reviews_per_month"].interpolate(inplace = True)

In [48]:
fd5.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,2.51,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,22-06-2019,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,05-10-2017,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,24-06-2019,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,21-07-2017,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,09-06-2019,1.33,4,188

In [49]:
fd.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,22-06-2019,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,05-10-2017,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,24-06-2019,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,21-07-2017,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,09-06-2019,1.33,4,188